.classpath
.project
.settings
.gradle
.vscode
bin
build
classes
tmp
curves*/
hazout*/
eq-prob*/
eq-rate*/
Scratch*.java
nshmp-haz-log*
webapp/models
webapp/jsdocs
scratch*.html
Scratch*.js
webapp/config.json
config.properties
