/*
####################################################
#
#  D3MapView CSS 
#
#
#####################################################
*/


/* D3MapView */
.D3MapView{
  position: relative;
  height: 100%;
}

/* Main map Bootstrap panel */
.D3MapView>.panel{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

/* Map: Bootstrap panel body */
.D3MapView .map{
  height: 55%;
  padding: 0;
  background-color: #f5f5f5;
}

/* Control panel: Bootstrap panel footer */
.D3MapView .control-panel{
  position: absolute;
  top: 55%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  overflow: scroll;
  background-color: white;
}

/* All panels */
.D3MapView .panel{
  margin: 0;
}

/* Buttons in forms */
.D3MapView .form-group .panel .btn{
  text-align: left;
  border: none;
}


.D3MapView .col-xs-4{
  height: 100%;
}

.D3MapView #test-site-form{
  height: 100%;
  width: 100%;
}

.D3MapView #test-site-form .panel{
  height: 90%;
  overflow-x: scroll;
  overflow-y: scroll;
}

.D3MapView .btn-group-vertical{
  width: 100%;
}


.D3MapView .form-group{
  vertical-align: top;
}

.D3MapView .form-control-panel{
  margin: 0;
}


.D3MapView form{
  position: absolute;
  width: 100%;
  height: 100%;
  
}





