

#container {
  position: fixed;
  top: 0;
  right:0;
  bottom:0;
  left:0;
  margin: 2em 0 3.5em 0;
  padding: 20px;
  overflow: auto;
  display: flex;
}

#dash {                                                                      
  width: 100%;
  margin: auto;
}                                                                           

.panel .panel-footer {                                                  
  background-color: #f7f7f7;                                                    
  font-family: 'HelveticaNeue-Light',sans-serif;                                
}  

.panel-body {
  padding: 0;
}

.panel:hover { 
  cursor: pointer;
}
