/*
####################################################
#
#  Location CSS 
#
#
#####################################################
*/


/*###################################################*/
/**/
/*................... Main Content ..................*/

#content{
  position: fixed;
	top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 2em 0 3.5em 0;
}
/*-------------- End: Main Content -------------------*/
/**/
/*###################################################*/



/*
#testsite-menu{
  width: 100%;
}

#menu-text{
  float: left;
}

.caret{
  float:right;
}



#testsite>li{
  padding-left: 10px;
}

*/


.list-group-item{
  font-size: 12px;
  padding: 5px 10px;
}

#region{
  width: 100%;
  font-size: 12px;
}


#testsite{
  height: 250px;
  overflow-x: scroll;
  padding: 0;
}

#testsite{
  width: 100%;
}

#testsite>label{
  font-size: 11px;
}


#map-checkbox{
  position: absolute;
  bottom: 20px;
  padding: 10px 0;
}


#inputs,
.form-horizontal{
  height: 100%;
}


/*#################################################*/
/**/
/*.................... Plots ......................*/


/*............... Plot Panel Container ............*/
#content>.map-panel{
  position: absolute;
  padding: 20px 0 20px 20px;
  top:0;
  right: 300px;
  bottom: 0;
  left:0;
}
/*-------------------------------------------------*/

/*............... Plot Panel Container ............*/
#content>.control-panel{
  position: absolute;
  padding: 20px 20px 20px 0;
  top:0;
  right: 0;
  bottom: 0;
  width: 300px;
}
/*-------------------------------------------------*/

#map{
  margin: 0 auto;
  padding: 0;
}

.panel,
.panel-body{
  height: 100%;
}

#content>.map-panel>.panel{
	border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#content>.control-panel>.panel{
	border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #f7f7f7;
}

/*------------- End: Plots ------------------------*/
/**/
/*#################################################*/



