/* CSS for services.html and Services.js */


/* Service panel heading */
.panel .panel-heading>* {
  margin-bottom: 0;
  margin-top: 0;
}

/* Lists inside service panels */
.service .list-group-item {
  border: none;
  padding: 0.25em 1em;
}

/* Containers */
.services {
  overflow: scroll;
}

.content {
  margin-top: 2.5em;
}

/* Service nav menu */
.service-menu {
  padding-left: 3em;
  padding-top: 2em;
}

.service-menu-list>li>a {
  color: #767676;;
  font-weight: 400;
  line-height: 1.25;
  padding: 0.25em;
}

.service-menu .back-to-top {
  padding-top: 1.25em;
}

.service-menu .back-to-top>a {
  color: #999;
}

/* Service panel */
.anchor {
  padding-top: 2em;
}
.service {
  padding-top: 2.5em;
}

.service:last-of-type {
  padding-bottom: 5em;
}

.service .service-div>* {
  margin-top: 0;
}

.service .service-div {
  padding: 0.5em 0;
}

/* Service panel footer */
.panel-footer {
  background-color: white;
}

.examples {
  color: #959595;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}

/* URL formats */
.format-url {
	padding-bottom: 6px;
	word-break: break-all;
	word-wrap: break-word;
}

.service-link {
  padding-bottom: 6px;
	word-break: break-all;
	word-wrap: break-word;
}
