/*
######################################################
#
# Main CSS for webapps with a control panel:
#   - spectra-plot
#   - model-explorer
#
######################################################
*/


/* Test Site View Class */

.test-site-view.in {
  display: flex !important;
}

.test-site-view .modal-body {
  padding: 0 15px;
  height: 200px;
}

.test-site-view .modal-dialog {
  margin: auto;
  padding: 1em;
}

@media (min-width: 1200px) {
  .test-site-view .modal-lg {
    width: 1100px;
  }
}

@media (max-width: 768px) {
  .test-site-view .modal-dialog {
    width: 100%;
  }
  
  .test-site-view #site-list label {
    font-size: 0.5em;
  }
}

@media (min-height: 500px) {
  .test-site-view .modal-body {
    padding: 0 15px;
    height: 300px;
  }
}

@media (min-height: 700px) {
  .test-site-view .modal-body {
    padding: 0 15px;
    height: 500px;
  }
}

@media (min-height: 900px) {
  .test-site-view .modal-body {
    padding: 0 15px;
    height: 700px;
  }
}

.test-site-view #map-body {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
}

.test-site-view #site-list-body {
  bottom: 0;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 0;
}

.test-site-view #site-list-body .form-group {
  margin: 0;
}

.test-site-view #site-list {
  width: 100%;
}

/*###################################################*/
/**/
/*.................... Main Body ....................*/

html, body{
  width: 100%;
  height:100%;
  -webkit-font-smoothing: subpixel-antialiased;
}
/*------------------ End: Main Body -----------------*/
/**/
/*###################################################*/


.vertical-center {
  top: 50% !important;
  transform: translate(0, -50%) !important;
}


/*###################################################*/
/**/
/*..................... Header ......................*/

/*..................... Header ......................*/
#header{
  background: black url("../img/usgs_logo.png") 0px/84px no-repeat;
  background-position: 3px 3px;
	position: fixed;
  color: white;
  z-index: 100;
	top: 0;
	left: 0;
	right: 0;
  height: 1.6em;
  line-height: 1.6em;
  text-align: right;
  padding-right: 8px;
  font-weight: 300;
  font-size: 18px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 2px #999;
}
/*---------------------------------------------------*/


/*................. Header Title ....................*/
#header .title{
  padding-right: 8px;
}
/*---------------------------------------------------*/


/*................. Header Menu .....................*/
#header #header-menu{
  float:right;
}
/*---------------------------------------------------*/


/*........... Header Glyphicon Hover.................*/
#header .glyphicon-menu-hamburger:hover{
  cursor:pointer;
}
/*---------------------------------------------------*/


/*............. Header Glyphicon ....................*/
#header .glyphicon{
  top: 3px;
}
/*---------------------------------------------------*/

/*-------------- End: Header ------------------------*/
/**/
/*###################################################*/




/*###################################################*/
/**/
/* .................... Footer ..................... */

.Footer{
	position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  border-top: 1px solid #bbb;
  box-shadow: 0px 0px 3px 1px #ccc;
  z-index: 101;
  height: 3.5em;
}

.Footer .settings-btn{
  padding-left: 10px;
  cursor: pointer;
}

.Footer .footer-btns {
  position: absolute;
  left: 8em;
  right: 8em;
  top: 50%;
  transform: translateY(-50%);
}

.Footer .footer-icons {
  position: absolute;
  left: calc(100% - 8em);
  top: 50%;
  transform: translateY(-50%);
}

.Footer .code-info-icon {
  cursor: pointer;
  font-size: 2.0em;
  vertical-align: middle;
  margin: 0 0.5em;
}

.Footer .github-icon {
  cursor: pointer;
  width: 2.0em;
  margin: 0 0.5em;
}

.Footer .code-info-icon:focus {
  outline: none;
}

.Footer .code-info-collapse {
  bottom: 100%;
  left: 400px;
  position: absolute;
  right: 0;
}

.Footer .well {
  background-color: white;
  margin: 10px 2px 3px 2px;
  padding: 10px;
}

.Footer .code-info-icon.disabled {
  color: grey;
  cursor: not-allowed;  
  opacity: 0.65;
}

/*-------------- End: Footer ----------------------- */
/**/
/*###################################################*/




/*###################################################*/
/**/
/*.................. Control Panel ..................*/

/*.................. Control Panel ..................*/
#control {
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 2em 0 3.5em 0;
  padding:20px;
  width: 400px;
  overflow: auto;
  border-right: 1px solid #ddd;
}

#control .btn-group .btn+.btn {
  margin-left: 0;
} 

/*.................... Forms .......................*/
#control .form-horizontal .form-group {
  margin-right: -5px;
  margin-left: -5px;
  margin-bottom: 6px;
  padding: 0.25em;
}


#control option:disabled {
    color:#999;
}

#control option {
  color: black;
}


label {
  font-weight: 500;
}

label.control-group {
  font-weight: 700;
}


label.control-spacer {
  margin-top: 8px;
}

#control .form-inline label small {
  font-weight: normal;
}

#control .form-horizontal .form-control {
  font-size: 12px;
}

#control .form-horizontal .form-group-sm .control-label {
  padding-top: 3px;
}

#control .control-panel-slider {
  margin-top: 0.45em;
  -webkit-appearance: none;
  appearance: none;
  height: 0.8em;
  border-radius: 0.5em;
  background: #eee;
  border: 1px solid #ccc;
}

#control .control-panel-slider:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#control .control-panel-slider:focus {
  outline: transparent;
}

#control .control-panel-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: #337ab7;
  border-color: #2e6da4;
  cursor: pointer;
}

#control .control-panel-slider::-webkit-slider-thumb:active {
  height: 1.35em;
  width: 1.35em;
}

#control .control-panel-slider::-ms-fill-lower {
  background-color: #337ab7
}

#control .btn-group>.btn.focus {
  background-color: initial;
}

#control .btn-group>.btn.focus.active {
  background-color: #d4d4d4;
}
/*----------- End: Control Panel  -------------------*/
/**/
/*###################################################*/




/*###################################################*/
/**/
/*................... Main Content ..................*/

#content{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 2em 0 3.5em 400px;
  overflow: auto;
  padding: 20px 0;
}
/*-------------- End: Main Content -------------------*/
/**/
/*###################################################*/



/*#########################################################*/
/**/
/*................... Setting Menu .......................*/


/*............. Screen Overlay ......................*/
.Settings .settings-overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.20;
  z-index: 1000;
}
/*---------------------------------------------------*/

/*............. Loader Box to Put Spinner ...........*/
.Settings .settings-panel{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 50%;
  width: 50%;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1001;
  background-color: white;
}
/*---------------------------------------------------*/

.Settings .settings-panel .panel-heading{
  height: 2.5em;
}

.Settings .settings-panel .panel-footer{
  height: 3.5em;
  padding: 8px;
}

.Settings .settings-panel .panel-body{
  height: calc(100% - 6em);
  padding: 15px;
}


/*-------------- End: Setting Menu -----------------------*/
/**/
/*########################################################*/




/*###################################################*/
/**/
/*................... Spinner .......................*/

.test-site-modal.in {
  display: flex !important;
}

.test-site-modal .modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Spinner {
  display: flex !important;
}

.Spinner .modal-dialog {
  margin: auto;
  width: auto;
}

.Spinner .spinner-text {
  font-size: 1.5em;
  padding: 1em 0 0 0;
  margin: 0;
}

.Spinner .modal-content {
  height: auto;
  width: 12em;
}

.Spinner .modal-content {
  text-align: center;
}

.Spinner .modal-footer {
  text-align: center;
}

.Spinner .loading-spinner {
  margin: 0.25em auto;
  border: 0.7em solid #E0E0E0;
  border-radius: 50%;
  border-top: 0.7em solid #337ab7;
  width: 4em;
  height: 4em;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*-------------- End: Spinner -----------------------*/
/**/
/*###################################################*/





/*###################################################*/
/**/
/*................... Axes Buttons ..................*/


.axes-btns>.form-group{ 
  margin: 0 2%;
  font-size: 12px;
}

.axes-btns>.form-group>.btn-group>.btn{
  width: 55px;
  margin: 5px 0;
  text-align: center;
}

/*-------------- End: Axes Buttons ------------------*/
/**/
/*###################################################*/




/*#################################################*/
/**/
/*.................... Plots ......................*/



/*............... Plot Panel Container ............*/
#content>.plot-panel{
  position: relative;
  height: 100%;
  padding:20px;
}
/*-------------------------------------------------*/


/*............... Plot Panel ......................*/
#content>.plot-panel>.panel{
  position: relative;
  height: 100%;
}
/*-------------------------------------------------*/


/*............... Plot Panel Header ...............*/
#content>.plot-panel>.panel>.panel-heading{
  background-color: #f7f7f7;
  font-family: 'HelveticaNeue-Light',sans-serif;
  font-size: 1.25em;
}
/*-------------------------------------------------*/


/*............... Plot Panel Content ...............*/
#content>.plot-panel>.panel>.panel-content{
  position: relative;
  height: 100%;
  margin: 0 auto;
}
#content>.plot-panel>.panel>.panel-body{
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
/*-------------------------------------------------*/


/*............... Plot Panel Footer ...............*/
#content>.plot-panel>.panel>.panel-footer{
  background-color: #f7f7f7;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px 0;
}
/*-------------------------------------------------*/


/*............... Plot Resize ....................*/
#content>.plot-panel>.panel>.panel-heading>.plot-resize{
  float: right;
  font-size: .85em;
  font-weight: 100;
  opacity: .7; 
}

#content>.plot-panel>.panel>.panel-heading>.plot-resize:hover{
  cursor: pointer;
}
/*------------------------------------------------*/


/*------------- End: Plots ------------------------*/
/**/
/*#################################################*/


